body {
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),
    url("../images/dashboard-background.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.booking-container {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.page-header {
  text-align: center;
  margin-bottom: 35px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

select,
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background: white;
}

select:focus,
input:focus {
  outline: none;
  border-color: #0077ff;
}

button {
  margin-top: 35px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.primary-button,
.secondary-button {
  padding: 14px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.primary-button {
  background: #0077ff;
  color: white;
}

.primary-button:hover {
  background: #005fcc;
}

.secondary-button {
  background: white;
  color: #003366;
  border: 2px solid #003366;
}

.secondary-button:hover {
  background: #003366;
  color: white;
}
